<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>login</title>
    <!--<script src="https://unpkg.com/vue"></script>-->
    <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" >
    <script src="../static/js/main.js" ></script>
</head>
<body>

<!--<main>-->
    <!--<form class="loginform" id="loginForm" method="post">-->
        <!--&lt;!&ndash;<div data-th-if="${param.error}" class="alert alert-danger">&ndash;&gt;-->
        <!--&lt;!&ndash;Invalid userName and password.&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div data-th-if="${param.logout}" class="alert alert-success">&ndash;&gt;-->
        <!--&lt;!&ndash;You have been logged out.&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="container">-->
            <!--<label for="userName">Username</label>-->
            <!--<input type="text" id="userName" name="userName" placeholder="Enter Username" required/>-->
            <!--<br><br>-->
            <!--<label for="password">Password</label>-->
            <!--<input type="password" id="password" name="password" placeholder="Enter Password" required/>-->
            <!--<label>-->
                <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
            <!--</label>-->
            <!--<div class="container">-->
                <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
            <!--</div>-->
            <!--<br><br>-->
            <!--<button type="submit">Login</button>-->
            <!--<button type="button" class="cancelbtn">Cancel</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</main>-->

<div id="app">
aaa
</div>

</body>
</html>
